@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(@ViewBag.Error))
{
    <div class="@ViewBag.ClaseMensaje" role="alert" id="success-alert">
        <strong>@ViewBag.Error</strong>
    </div>
}


<div class="text-center" id="fondo-home">
   
   
</div>
